@keyframes DeslizarSection1 { /*ANIMAÇÃO DE DESLIZAR PARA A DIREITA*/
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

* { /*DEFINIR TUDO EM ZERO*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header { /*CABEÇALHO*/
    z-index: 1000;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(250, 250, 250);
    padding: 5px 5px 5px 15px;
    justify-content: left;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.Header > img { /*LOGO NO CABEÇALHO*/
    width: 190px;
    height: auto;
}

.BotaoCategoria { /*CADA BOTÃO DE CATEGORIA DE COMIDA*/
    margin-top: 60px;
    margin-right: 15px;
    text-decoration: none;
    color: rgb(252, 165, 66);
}

.BotoesCategorias { /*DIV COM TODOS OS BOTÕES DE CATEGORIA DE COMIDA*/
    display: flex;
    font-size: 24px;
    padding: 0 2%;
    margin: 0 auto;

}

.BotaoCategoria:hover { /*HOVER PARA CADA BOTÃO DE CATEGORIA DE COMIDA*/
    font-size: 26px;
    color: rgb(255, 136, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.726);
}

.Section1 { /*SECTION DAS RECEITAS MAIS POPULARES*/
    display: flex; 
    justify-content: center;
    animation: DeslizarSection1 0.8s ease-out;
}

.MaisPopulares1 { /*DIV DAS RECEITAS MAIS POPULARES 1*/
    display: flex;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 100px;
}

.ImgMaisPopulares1 { /*CADA IMAGEM DAS RECEITAS MAIS POPULARES 1*/
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 25px;
}

.LegendaImgMaisPopulares1 { /*CADA LEGENDA DAS RECEITAS MAIS POPULARES 1*/
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.973);
    text-decoration: underline;
    text-decoration-color: rgb(253, 253, 253);
    text-decoration-thickness: 3px;
}

.TituloMaisPopulares1 { /*TITULO DA PARTE DE RECEITAS MAIS POPULARES */
    position: absolute;
    top: 240px;
    align-items: center;
    font-family: "Bebas Neue", serif;
    font-size: 40px;
    color: rgb(255, 141, 48);
}

.MaisPopulares2 { /*DIV DAS RECEITAS MAIS POPULARES 2*/
    display: flex;
    position: absolute;
    top: 660px;
    width: 100%;
    height: 100px;
}

.ImgMaisPopulares2 { /*CADA IMAGEM DAS RECEITAS MAIS POPULARES 2*/
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 25px;
}

.LegendaImgMaisPopulares2 { /*CADA LEGENDA DAS RECEITAS MAIS POPULARES 2*/
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.973);
    text-decoration: underline;
    text-decoration-color: rgb(253, 253, 253);
    text-decoration-thickness: 3px;
}

.Footer { /*PARTE FINAL DO SITE*/
    position: absolute;
    top: 170%;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.726);
}

.TituloCreditos { /*TITULO DA PARTE FINAL DO SITE*/
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI';
    font-size: 25px;
}

.a > a{ /*LINK DA PARTE FINAL DO SITE*/
    display: flex;
    padding-left: 610px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: rgb(189, 255, 233);
    font-size: 20px;
    margin-top: 20px;
}
